# Python virtual environment
.venv/
venv/

# Environment files
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml


# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

#ignore vector database
 doc_vector_store/

.history/

