python-dotenv
pydantic
pydantic-settings
crewai
fastapi
uvicorn
streamlit
chromadb
langchain
langchain-groq
langchain-chroma
langchain-huggingface
langchain-community
pytesseract
unstructured
unstructured[pdf]
sentence-transformers
litellm




